docutils
PIL==1.1.7
Django==1.3
mysql-python
pisa
reportlab
html5lib
-e svn+ssh://weebey/srv/svn/mcnulty/trunk#egg=mcnulty
django-reversion
sorl-thumbnail
django-debug-toolbar
south
django-registration
django-captcha
django-simple-captcha
pytz
dateutil